@use './reset.scss';
@use './normalize.scss';
@use './variables.scss';

body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
